{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "comma-dangle": "off",
    "no-console": 1,
    "no-undef": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "globals": {
    "console": false
  }
}
